---
BasedOnStyle: Google
AccessModifierOffset: 1
AlwaysBreakAfterReturnType: TopLevelDefinitions
# DerivePointerAlignment: true
PointerAlignment: Right
PenaltyBreakComment: 10000
IndentCaseLabels: false
BreakBeforeBraces: WebKit
AllowShortCaseLabelsOnASingleLine: true
BinPackParameters: false
...
